{
    "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
    "printWidth": 120,
    "tabWidth": 4,
    "useTabs": false,
    "semi": false,
    "singleQuote": true,
    "quoteProps": "as-needed",
    "jsxSingleQuote": false,
    "trailingComma": "all",
    "bracketSpacing": true,
    "bracketSameLine": false,
    "arrowParens": "avoid",
    "importOrder": [
        "^react(.*)",
        "<THIRD_PARTY_MODULES>",
        "next/(.*)",
        "^@/app/(.*)$",
        "^@/configs/(.*)$",
        "^@/utils/(.*)$",
        "^@/services/(.*)$",
        "^@/store/(.*)$",
        "^@/components/(.*)$",
        "(.*).css"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}
