@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply text-base text-black-100 antialiased;
}

a {
    @apply link;
}

.link {
    @apply hover-animated cursor-pointer text-blue-100 hover:text-blue-active;
}

.link-red {
    @apply hover-animated cursor-pointer text-red-100 hover:text-red-active;
}

.link-orange {
    @apply hover-animated cursor-pointer text-orange-100 hover:text-orange-active;
}

.link-white {
    @apply hover-animated cursor-pointer text-white hover:text-blue-active;
}

.container {
    @apply mx-auto w-full px-4 sm:max-w-[1184px] sm:px-8;
}

.inner-container {
    @apply mx-auto w-full sm:max-w-[928px];
}

.hover-animated {
    @apply transition-colors duration-300 ease-in-out;
}

.flex-center {
    @apply flex items-center justify-center;
}

.DraftEditor-root {
    @apply relative;
}

.public-DraftEditorPlaceholder-root {
    @apply absolute z-0 text-black-40;
}

.DraftEditor-editorContainer {
    @apply relative z-10;
}

[contentEditable='true']:empty:before {
    content: attr(data-placeholder);
    color: text-white;
}
