@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply text-custom-black-100;
}

a:hover {
    @apply text-custom-blue-active hover-animated;
}

.inner-container {
    @apply mx-auto w-[928px] tablet:w-full phone:w-full;
}

.hover-animated {
    @apply transition-colors duration-300 ease-in-out
}