@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply text-base text-black-100 antialiased;
}

a {
    @apply link;
}

.DraftEditor-root {
    @apply relative;
}

.public-DraftEditorPlaceholder-root {
    @apply absolute z-0 text-black-40;
}

.DraftEditor-editorContainer {
    @apply relative z-10;
}

.mapboxgl-popup-content,
.maplibregl-popup-content {
    @apply rounded-lg p-4 text-base shadow-small !important;
}

.mapboxgl-popup,
.maplibregl-popup {
    @apply max-w-none !important;
}
