@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply text-black-100 text-base antialiased;
}

a:hover {
    @apply hover-animated sm:text-blue-active;
}

.container {
    @apply sm:px-8 sm:max-w-[1184px] mx-auto w-full px-4;
}

.inner-container {
    @apply sm:max-w-[928px] mx-auto w-full;
}

.hover-animated {
    @apply transition-colors duration-300 ease-in-out;
}
