@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply text-custom-black-100;
}

a:hover {
    @apply hover-animated text-custom-blue-active;
}

.container {
    @apply sm:px-8 sm:max-w-[1184px] mx-auto w-full px-4;
}

.inner-container {
    @apply sm:max-w-[928px] mx-auto w-full;
}

.hover-animated {
    @apply transition-colors duration-300 ease-in-out;
}
