@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-padding-top: 156px;
}

body {
    @apply text-base text-black-100 antialiased;
}

a {
    @apply link;
}

.mapboxgl-popup-content,
.maplibregl-popup-content {
    @apply rounded-lg p-4 text-base shadow-small !important;

    .mapboxgl-popup-anchor-top-left &,
    .maplibregl-popup-anchor-top-left & {
        @apply rounded-tl-none !important;
    }

    .mapboxgl-popup-anchor-top-right &,
    .maplibregl-popup-anchor-top-right & {
        @apply rounded-tr-none !important;
    }

    .mapboxgl-popup-anchor-bottom-left &,
    .maplibregl-popup-anchor-bottom-left & {
        @apply rounded-bl-none !important;
    }

    .mapboxgl-popup-anchor-bottom-right &,
    .maplibregl-popup-anchor-bottom-right & {
        @apply rounded-br-none !important;
    }
}

.mapboxgl-popup,
.maplibregl-popup {
    @apply max-w-none !important;
}

.tiptap-editor p.is-editor-empty:first-child::before {
    @apply text-black-40;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
}

.tiptap {
    @apply !outline-none;
}

@keyframes pulse-full {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
