name: Publish frontend docker image

on:
    push:
        branches: ['master']

jobs:
    docker:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v2
            - name: Set up QEMU
              uses: docker/setup-qemu-action@v2
            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v2
            - name: Login to Docker Hub
              uses: docker/login-action@v2
              with:
                  registry: ghcr.io
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}
            - name: Get app version
              id: version
              run: |
                  echo "VERSION=$(node -p -e "require('./package.json').version")" >> $GITHUB_ENV
            - name: Build and push
              uses: docker/build-push-action@v4
              with:
                  file: ./Dockerfile.production
                  push: true
                  tags: |
                      ghcr.io/${{ github.repository_owner }}/frontend:${{ env.VERSION }}
                      ghcr.io/${{ github.repository_owner }}/frontend:latest
